:root {
  --bg: #232324;
  --fg: #a0a0a0;
  --accent: rgb(249, 232, 0);
  --borders: #333;
}

body {
  padding: 0;
  margin: 0;
  font-size: 14pt;
  font-family: Helvetica;
  background-color:var(--bg);
  color: var(--fg);
}


#container {
  width:80vw;  
  margin:0 auto;  
  text-align: center;
}

#padBox {
  width:80vw;
  display:flex;
  justify-content: space-between;
  margin-top: 2em;;
  align-items: baseline;
}

#colorPicker {
  width: 50vw;
  display:flex;
  flex-wrap: wrap;
}

#colorPicker > span {
  width:3vw;
  color:hsl(261, 62%, 42%);
  font-size:22pt;
  cursor:pointer;
}

#pad {  
  width: 20vw;
  height: 20vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  border:2px solid var(--borders);
  background-color: #000;
  border-radius:.5em;
  box-shadow: .4em .4em .2em #00000055;
  padding:.5em;
}

#pad > .btn {
  border-radius: .2em;
  border: 2px solid var(--borders);
  cursor:pointer;
  width:3.4vw;
  height: 3.4vw;
  margin:.3vw;
  background-color: #d0d0d0;
}

#pad > .btn:hover {
  background-color: #eee;
  border-color:#f0f0f0;
}

#pad > .selected {
  background-color: #fff;  
}

textarea {
  width:80vw;
  min-height:10vw;
  background-color: #000;
  color:var(--accent);
  border-radius: .5em;
  padding:1em;
  border: 2px solid var(--borders);
  box-shadow: .4em .4em .2em #00000055;
  margin-top:2em;
}

.footer {
  text-align: right;
  font-size:8pt;
  font-family:Arial, Helvetica, sans-serif;
  padding:1em;
  }